[submodule "symbex/jdart"]
	path = symbex/jdart
	url = https://github.com/psycopaths/jdart.git
[submodule "symbex/jpf-core"]
	path = symbex/jpf-core
	url = https://github.com/javapathfinder/jpf-core.git
